<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wp_noithat/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wp_noithat/index.php [L]
</IfModule>
