$color1:#ffae00;
$color2:#4F4E4D;
$color3:#666666;
$color4:#282828;
$color5:#F6F6F6;
$color6:#5bff44;
$color7:#444444;
$color8:#F3F3F3;
$color9:#676767;
.text-color-1{
  color: $color1;
}
.bg-color8{
  background: $color8!important;
}
.required{
  color: red;
}
.text-color-3{
  color: $color3!important;
}
